
body {
    text-align: center;
}

input[type=text] {
    width: 75%;
    padding:12px;
    border: 1px solid #e9d631;
    border-radius: 6px;
    background-color: #deeaf5;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=date] {
    width: 75%;
    padding:12px;
    border: 1px solid #e9d631;
    border-radius: 6px;
    background-color: #deeaf5;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type=submit] {
    background-color: #deeaf5;
    color: #100349;
    font-weight: bold;
    padding: 12px 20px;
    border: 4px #e9d631;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia;
}

form {
    margin-left: 36.5%;
    color: rgb(219, 215, 215);
    width: 25%;
    border-radius: 15px;
    border: 2px solid rgb(240, 210, 40);
    background-color:#100349;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

