html {
    font-size: 80%;
    box-sizing: border-box;
    background-image: url("board-597238_1920.jpg");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1.2px solid darkslategray;
    background-color: rgba(113, 34, 133, 0.423);
    border-radius: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-image: url("purple-skin-2001742_1920.jpg");
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 100px;
    border-top: 8px  rgb(241, 191, 52,.7);
    background-color: rgb(245, 230, 248);
    color: rgb(5, 5, 5);
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 27px 27px 0px 0px;
}

button {
    height: 70px;
    border-radius: 23px;
    border-top: 1px solid rgb(236, 222, 240);
    background-color: rgb(63, 4, 75);
    font-size: 3.2rem;
    color: silver;
    background-image: linear-gradient(to bottom, transparent, 
                      transparent  50%, rgba(0, 0, 0, .06));
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 
                rgba(255, 255, 255, .05), inset 0 -1px 0 0 rgba(255, 255, 255, .05),
                0 1px 0 0 rgba(255, 255, 255, .05);
}

button:hover {
    background-color: #e1e1e1;
    color: rgb(59, 3, 61);
}

.operator {
    color: black;
    background-image: linear-gradient(to bottom, transparent, 
                      transparent 50%, rgba(0,0,0,.5));
    background-color: rgb(196, 192, 196);
}

.all-clear {
    background-color: rgba(255, 255, 255);
    border-color: darkslategray;
    color: rgb(59, 3, 61);
}

.all-clear:hover {
    background-color: rgb(90, 86, 90);
    color: thistle;
}

.equal-sign {
    background-color: rgb(243, 198, 73);
    border-color: darkslategray;
    color: rgb(61, 4, 68), .9;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: rgb(245, 205, 73);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
